package commands

import (
	"github.com/zachaller/k8s-client-api-builder/pkg/cli"
)

// Execute runs the root command
func Execute() error {
	rootCmd := cli.BuildRootCommand("{{.ProjectName}}")
	return rootCmd.Execute()
}

